
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html >
<head>
    <title>Hello World</title>
    <meta http-equiv="Content-type" content="text/html; charset="UTF-8" />

    <link rel = "stylesheet" type="text/css" href="$static/style/default.css">


</head>
<body>
    <h1>Genre Hunter</h1>
    <ul>
        <li>Electronic
            <ol>
                <li>Techno</li>
                <li>Ambient</li>
            </ol>
        </li>
        <li>Country
            <ol>
                <li>Rockabily</li>
                <li>Honky Tonk</li>
            </ol>
        </li>
        <li>Hip Hop
            <ol>
                <li>Grime</li>
                <li>Mumble rap</li>
            </ol>
        </li>
    </ul>
</body>
</html>

